<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
  <title>Violet Cheetah</title>
</head>
<body>
  <header>
    <div class="header">
        <div class="brand">
          <a href="index.html">Violet Cheetah</a>
        </div>
        <div class="header-links">
          <a href="cart.html">Cart</a>
          <a href="signin.html">Sign In</a>
        </div>
      </div>
      
  </header>
  
  <aside>
    <h2>Shopping Categories</h2>
  </aside>

  <main>
    <ul>
      <li>Product 1</li>
      <li>Product 2</li>
      <li>Product 3</li>
      <li>Product 4</li>
      <li>Product 5</li>
    </ul>
  </main>

  <footer>
    &copy; 2023 Violet Cheetah
  </footer>
</body>
</div>
</html>
<div class="grid-container"›
